antlr4-python3-runtime==4.7.2
asgiref==3.2.7
beautifulsoup4==4.9.0
bokeh==1.4.0
boto==2.49.0
boto3==1.12.39
botocore==1.15.39
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
dask==2.9.1
dataprep==0.1.0
dj-database-url==0.5.0
Django==3.0.5
docutils==0.15.2
fsspec==0.6.2
gensim==3.8.1
gunicorn==20.0.4
holoviews==1.12.7
idna==2.9
jmespath==0.9.5
joblib==0.14.1
jsonpath2==0.4.2
jsonschema==3.1.1
nltk==3.4.5
numpy==1.18.2
pandas==1.0.3
param==1.9.2
probscale==0.2.3
psycopg2==2.8.5
python-dateutil==2.8.1
pytz==2019.3
pyviz-comms==0.7.2
requests==2.23.0
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
smart-open==1.11.1
soupsieve==2.0
sqlparse==0.3.1
summarizer==0.0.7
urllib3==1.25.8
whitenoise==5.0.1
wincertstore==0.2
